scanpy>=1.6.0
pandas>=1.2.4
numpy>=1.19.2
scipy>=1.5.2
matplotlib>=3.3.2
Phenograph>=1.5.7
scikit-learn>=0.23.2
scikit-misc>=0.1.4
sklearn-evaluation>=0.5.6
jupyter>=1.0.0
jupyterlab>=3.1.4
papermill>=2.3.3
ray>=1.5.2
joblib>=0.17.0
tqdm>=4.50.2
